<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <title> Campus Mate </title>
    </head>
    <body>
        <!-- header -->
        <header class="header" id="header">
            <nav class="nav container">
                    <a href="#" class="nav__logo">
                        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" class="nav__logo-image" />
                    </a>
                                

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('hello_world2') }}" class="nav__link">Faculty</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('admin') }}" class="nav__link">Admin</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('regdep', mode='signup') }}" class="nav__link">Department</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- theme change -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main">
            <!-- home -->
            <section class="home" id="home">
                <div class="home__container container grid">
                    <img src="{{ url_for('static', filename='img/graduates.png') }}" alt="" class="home__img">

                    <div class="home__data">
                        <h1 class="home__title">
                            Welcome to CampusMate!!!
                            <br />Your Campus Guide ... 
                        </h1>
                        <p class="home__description">
                            Simplifying student access to campus resources, events, and services
                        </p>
                        <a href="#about" class="button button--flex">
                            About Us <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </section>
           
                       <!-- about -->
            <section class="about section container" id="about">
                <div class="about__container grid">
                    <img src="{{ url_for('static', filename='img/about.png') }}" alt="" class="about__img">

                    <div class="about__data">
                        <h2 class="section__title about__title">
                            Who we really are & <br> why choose us
                        </h2>

                        <p class="about__description">
                            At its core, transforming dreams into reality begins with a clear vision. It's about envisioning the future you desire and  setting goals that align with your dreams. This vision serves as your guiding star, illuminating the path forward.
                        </p>

                        <div class="about__details">
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Instant answers to your campus queries.                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Stay updated on exams, events, and deadlines.                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Access course details and campus services easily.                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                24/7 availability for your convenience.                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- steps -->
            <section class="steps section container">
                <div class="steps__bg">
                    <h2 class="section__title-center steps__title">
                      Navigate To 
                    </h2>

                    <div class="steps__container grid">
                        <div class="steps__card">
                            <div class="steps__card-number">01</div>
                            <h3 class="steps__card-title">Departments</h3>
                            <p class="steps__card-description">
                                Log in to streamline your department’s activities and access key information.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">02</div>
                            <h3 class="steps__card-title">Faculties</h3>
                            <p class="steps__card-description">
                                As a faculty member, you can enjoy access to a range of resources designed to support your academic journey.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">03</div>
                            <h3 class="steps__card-title">Students</h3>
                            <p class="steps__card-description">
                                Need help with your studies or have questions? Chat with our AI-powered assistant for quick and personalized support anytime                            </p>
                        </div>
                    </div>
                </div>
            </section>
          

               <!--common questions -->
            <section class="questions section" id="faqs">
                <h2 class="section__title-center questions__title container">
                    Some common questions <br> were often asked
                </h2>

                <div class="questions__container container grid">
                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    My flowers are falling off or dying?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    What causes leaves to become pale?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    What causes brown crispy leaves?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    How do i choose a plant?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    How do I change the pots?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Why are gnats flying around my plant?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Plants are easy way to add color energy and transform your 
                                    space but which planet is for you. Choosing the right plant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            

        <!--footer-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer_logo">
                        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" class="nav__logo-image" />
                    </a>

                    <h3 class="footer__title">
                        Subscribe to our newsletter <br> to stay update
                    </h3>

                   
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Get In Touch</h3>

                    <ul class="footer__data">
                        <li class="footer__information">The National Institute of Engineering
                            Mysuru,570008</li>
                        <li class="footer__information">tripnavigatorgmail.com</li>
                        <li class="footer__information">629-523-7346</li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Contact Us</h3>

                    <ul class="footer__data">
                        <li class="footer__information">+91 629 523 7346</li>
                        
                        <div class="footer__social">
                            <a href="https://www.facebook.com/" class="footer__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="footer__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        We accept all credit cards
                    </h3>

                </div>
            </div>

            <p class="footer__copy">&#169; Deblina. Create with love</p>
        </footer>
        
       
        
        <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{url_for('static',filename='chat.js')}}"></script>

        <a href="{{ url_for('home1') }}" class="chatbot-icon">
            <i class="ri-chat-1-line chatbot-icon__icon"></i>
        </a>
        
        
    </body>
</html>
